<!DOCTYPE html>
<html>
  <head>
    <title>Tu Tienda</title>
  </head>
  <body>

        <div class="columns">
          <div class="column is-half">
            
            <h1 class="title is-1 has-text-black">Bienvenido a librería G22</h1>
            <h2 class="subtitle">¡Bienvenido a nuestra tienda online de libros!
            Explora nuestro amplio catálogo y encuentra tus próximas aventuras literarias. 
            Descubre clásicos, novedades y géneros diversos. 
            Disfruta de una experiencia de compra segura y confiable. 
            ¡Sumérgete en el placer de la lectura con nosotros!</h2>
            <%= link_to 'Ver todos los libros', productos_path, class: "button is-link"%>
            
          </div>
          <div class="column is-half">
            <div class="box">
              <img src="/images/libros.jpeg" alt="img1">
            </div>
                  
          </div>
        </div>

  </body>

</html>