/* .msg-form {
    position: fixed;
    bottom: 0;
    width: 65%
} */
body {
    overflow: hidden;
  }

.msg-form {
    width: 100%;
    height: 56px;
    padding: 10px;
  }

/* .col-md-8 {
    height: 100vh;
    overflow: scroll;
} */

.msg-content {
    width: 80%;
    margin-right: 5px;
}

.message-box {
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #757575;
}

.chat_pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

/* #chat_container {
    height: 100vh;
    overflow: scroll;
    margin-bottom: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
} */

#chat_container {
    height: 100vh;
    margin-right: 0px !important;
  }

#single_chat {
    height: calc(100vh - 150px);
  }

#mensajes {
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

#side_panel {
    height: calc(100vh - 55px);
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 55px;
  }

#chatroom_container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }